@CHARSET "UTF-8";

body {
	font-family: "Helvetica", "Tahoma";
}

#body {
	margin: 0 2%;
}

#menu {
	text-align: center;
}

#menu > li, .butt {
	border: 1px #1a45f2 solid;
	border-radius: 2px;
	padding: 10px;
}

#menu > li {
	display: inline-block;
	list-style: none;
	margin: 5px;
}

#menu > li > a, .butt {
	color: #1a45f2;
	text-decoration: none;
}

#menu > li:hover, #menu > li > a:hover, .butt:hover {
	background-color: #1a45f2;
	color: white;
}

.butt {
}

#body > h1 {
	text-align: center;
}

table {
	border-collapse: collapse;
	margin: 30px;
}

table td, table th {
	border: 1px #1a45f2 solid;
	padding: 15px;
}

table th {
	background-color: #1a45f2;
	color: white;
}